<h3 class="cover-heading ">Onze artiesten</h3>
<ul class="list-group">
    <li class="list-group-item ">Schilders</li>
    <li class="list-group-item ">Beeldende kunstenaars</li>
    <li class="list-group-item ">Woord kunstenaars</li>
</ul>